.sp_fwcULWenC2f{background-image:url(/rsrc.php/v3/y9/r/7FZN3TU9qmQ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_fwcULWenC2f.sx_49c8a1{background-position:0 0}.sp_fwcULWenC2f.sx_cd40b4{background-position:0 -21px}

#bootloader_j9JZg{height:42px;}.bootloader_j9JZg{display:block!important;}